<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LeaveManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterStudent</display-name>
    <servlet-name>RegisterStudent</servlet-name>
    <servlet-class>sis.com.controller.RegisterStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudent</servlet-name>
    <url-pattern>/RegisterStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStudentController</display-name>
    <servlet-name>ShowStudentController</servlet-name>
    <servlet-class>sis.com.controller.ShowStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentController</servlet-name>
    <url-pattern>/ShowStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmStudentController</display-name>
    <servlet-name>ConfirmStudentController</servlet-name>
    <servlet-class>sis.com.controller.ConfirmStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmStudentController</servlet-name>
    <url-pattern>/ConfirmStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>sis.com.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginController</display-name>
    <servlet-name>StudentLoginController</servlet-name>
    <servlet-class>sis.com.controller.StudentLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginController</servlet-name>
    <url-pattern>/StudentLoginController</url-pattern>
  </servlet-mapping>
</web-app>